In [1]:
import json
import pandas as pd
import numpy as np
import csv

data = '[{ "Gender": "Male", "HeightCm": 171, "WeightKg": 96 } , { "Gender": "Male", "HeightCm": 161, "WeightKg": 85 } , { "Gender": "Male", "HeightCm": 180, "WeightKg": 77 } , { "Gender": "Female", "HeightCm": 166, "WeightKg": 62} , { "Gender": "Female", "HeightCm": 150, "WeightKg": 70} , { "Gender": "Female", "HeightCm": 167, "WeightKg": 82}]'
data_dict = json.loads(data)
print(data_dict)

[{'Gender': 'Male', 'HeightCm': 171, 'WeightKg': 96}, {'Gender': 'Male', 'HeightCm': 161, 'WeightKg': 85}, {'Gender': 'Male', 'HeightCm': 180, 'WeightKg': 77}, {'Gender': 'Female', 'HeightCm': 166, 'WeightKg': 62}, {'Gender': 'Female', 'HeightCm': 150, 'WeightKg': 70}, {'Gender': 'Female', 'HeightCm': 167, 'WeightKg': 82}]

In [2]:
df = pd.DataFrame(data_dict)

In [3]:
df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

Calculate the BMI (Body Mass Index), BMI Category and Health risk from Table of the person and add them as 3 new columns

In [4]:
df['HeightM'] = df['HeightCm'].apply(lambda x: x*0.01)

In [5]:
df['BMI'] = df['WeightKg']/df['HeightM'] #.assign(lambda x : (x['WeightKg'] / x['HeightM']))

In [6]:
df

   Gender  HeightCm  WeightKg  HeightM        BMI
0    Male       171        96     1.71  56.140351
1    Male       161        85     1.61  52.795031
2    Male       180        77     1.80  42.777778
3  Female       166        62     1.66  37.349398
4  Female       150        70     1.50  46.666667
5  Female       167        82     1.67  49.101796

In [7]:
def BMI_CATEGORY(BMI):
    if BMI <= 18.4 :
        return('Underweight')
    elif BMI >=18.5 and BMI <= 24.9:
        return('Normal weight')
    elif BMI >=25 and BMI <= 29.9:
        return('Overweight')        
    elif BMI >=30 and BMI <= 34.9:
        return('Moderately obese')
    elif BMI >= 35 and BMI <= 39.9:
        return('Severely obese')
    elif BMI > 40:
        return('Very severely obese')

In [8]:
def HEALTH_RISK_CHECK(BMI):
    if BMI <= 18.4 :
        return('Malnutrition risk')
    elif BMI >=18.5 and BMI <= 24.9:
        return('Low risk')
    elif BMI >=25 and BMI <= 29.9:
        return('Enhanced risk')        
    elif BMI >=30 and BMI <= 34.9:
        return('Medium risk')
    elif BMI >= 35 and BMI <= 39.9:
        return('High risk')
    elif BMI > 40:
        return('Very high risk')

In [9]:
df['BMI_Category'] = df['BMI'].apply(BMI_CATEGORY)

In [10]:
df['Health_Risk'] = df['BMI'].apply(HEALTH_RISK_CHECK)

In [11]:
df

,Gender,HeightCm,WeightKg,HeightM,BMI,BMI_Category,Health_Risk
0,Male,171,96,1.71,56.140351,Very severely obese,Very high risk
1,Male,161,85,1.61,52.795031,Very severely obese,Very high risk
2,Male,180,77,1.80,42.777778,Very severely obese,Very high risk
3,Female,166,62,1.66,37.349398,Severely obese,High risk
4,Female,150,70,1.50,46.666667,Very severely obese,Very high risk
5,Female,167,82,1.67,49.101796,Very severely obese,Very high risk

Count the total number of overweight people using ranges in the column BMI Category of Table.

In [25]:
df1 = df.loc[df.BMI_Category.isin(["Overweight"])]

In [26]:
df1.count()

Gender          0
HeightCm        0
WeightKg        0
HeightM         0
BMI             0
BMI_Category    0
Health_Risk     0
dtype: int64